<%- include('partials/header') -%>

  <h2 class="mb-4">Add New Song</h2>
        <form action="/song/new" method="POST">
                <input type="hidden" name="_method" value="PUT">

                <input type="text" name="title" class="form-control" placeholder="Song Title"  required>

                <input type="text" name="genre" class="form-control" placeholder="Song Artist"  required>

                <input type="text" name="artist" class="form-control" placeholder="Song Genre"  required>

                <input type="url" name="link" class="form-control" placeholder="Song link" required>

              <button type="submit" class="btn btn-danger btn-block mt-3">Add to Song Database</button>
          </form>
<%- include('partials/footer') -%>



